.first-section {
  background-image: var(--wallpaper-section-main);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.main-section {
  grid-template-rows: repeat(3, auto);
}

.img-man-coding {
  min-width: 286px;
  max-width: 480px;
}

@media screen and (min-width: 1024px) {
  .main-section {
    grid-template-rows: 726px repeat(2, auto);
  }
}

.tea-lover {
  max-width: 200px;
}

@media screen and (min-width: 640px) {
  .img-man-coding {
    min-width: 284px;
  }

  .tea-lover {
    max-width: 310px;
  }
}

@media screen and (min-width: 1280px) {
  .cont-present > div:first-child {
    max-width: 800px;
  }
}

.icons {
  grid-template-columns: 64px 64px 64px;
}

.icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.card {
  font-size: 4rem;
  margin: 15px;
  padding: 2rem 4rem;
  opacity: 0.93;
  border: 1.7px solid rgba(200, 137, 230, 0.637);
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 5px 4px 3px rgb(89 4 168 / 14%);
  transition: all 0.4s ease 0s;
  line-height: 0;
}
