.first-section {
  background-image: var(--wallpaper-section-main);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.main-section {
  grid-template-rows: 650px 650px 550px;
}
@media screen and (min-width: 640px) {
  .main-section {
    grid-template-rows: auto 650px 550px;
  }
}

.img-man-coding {
  min-width: 230px;
  max-width: 520px;
}
