.log-section {
  width: 150px;
  height: inherit;
}

.toggle {
  width: 160px;
}
.navbar {
  background-color: transparent;
  backdrop-filter: blur(14px);
}

.navbar-scrolled {
  box-shadow: var(--spec-box-shadow-navbar);
}
