:root {
  @apply light;

  /* general */
  --spec-main-color: #f650c1;
  --spec-alert-color: #c00;
  --spec-alert2-color: #e95022;
  --spec-10-percent-layer: rgba(0, 0, 0, 0.1);

  /* box shadows */
  --spec-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  --spec-box-shadow-card: 0px 2px 15px 3px #00000020;
  --spec-box-shadow-navbar: 0px 1px 12px 1px #0e0d0d82;
  /* tags and lines */
  --spec-tag-background: #434343;
  --spec-line-color: #bbbbbb;
  /* inputs */
  --spec-input-text-color: hsla(0, 0%, 0%, 0.87);
  --spec-input-background: rgba(0, 0, 0, 0.04);
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --linear-background-section: linear-gradient(
    270deg,
    RGB(27 20 41),
    RGB(20 15 35)
  );
  --wallpaper-section-main: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863)
    ),
    url(assets/img/wallpaper/first_wallpaper_fux.webp);
  --svg-theme: url(assets/svg/moon.svg);
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --wallpaper-section-main: linear-gradient(
      307deg,
      transparent,
      transparent 57%,
      #fff 0,
      #f8f8f8
    ),
    linear-gradient(180deg, #fff 0%, #f8f8f8);
  --linear-background-section: linear-gradient(
      307deg,
      transparent,
      transparent 57%,
      #fff 0,
      #f8f8f8
    ),
    linear-gradient(180deg, #fff 0%, #f8f8f8);
  --svg-theme: url(assets/svg/sun.svg);
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

ul,
li {
  list-style: none;
}

a,
a:visited,
a:link,
a:active,
a:focus {
  text-decoration: none;
  color: initial;
  outline: 0;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: var(--spec-main-color);
  border-radius: 12px;
}
::-webkit-scrollbar-track {
  background: #2d1950;
}

.item-active::after {
  content: "";
  width: 100%;
  bottom: 0;
  position: absolute;
  border-bottom: 2px solid var(--spec-main-color);
}

.main-container {
  grid-template-rows: auto 1fr;
}

/* to tailwind */
.text-m-m {
  font-size: 1.75rem;
}

.text-m-s {
  font-size: 1.625rem;
}

.word-spacing-1 {
  word-spacing: 0.18rem;
}
.word-spacing-2 {
  word-spacing: 0.48rem;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
